@charset "UTF-8";

/*NAVBAR*/

@media (max-width: 576px){

    .mobile {
        display: initial !important;
    }

    .desktop {
        display: none !important;
    }

    .logo {
        width: 30%;
        display: block;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .tamMenu {
        width: 12%;
        align-items: center;
        margin-left: 70%;
    }


    .navbar {
        display: flex;
        align-items: center ;
        justify-content: space-between;
        background-color: #f09ab7 !important;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
       
    }

    .navbar .lupa {
        width: 12%;
        height: 35%;
        margin-right: 4%;
        margin-bottom: 2%;
    }

    .bg-body-tertiary {
        --bs-bg-opacity: 0;
    }

    .menu-toggle {
        position: relative;
    }

    .menu-content {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #f09ab7;
        color: #fff;
        padding: 20px;
        display: none;
    }

    .menu-toggle:hover .menu-content {
        display: block;
    }

    .menu-content ul {
        list-style: none;
        padding: 0;
    }

    .menu-content ul li {
        margin-bottom: 10px;
    }

    .menu-content ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    
    
}

@media (min-width:1400px){

    .navbar {
        display: flex;
        align-items: center ;
        justify-content: space-between;
        background-color: #f09ab7 !important;
        color: #FFFFFF;
        font-family: "Roboto";
        --bs-navbar-nav-link-padding-x: 1rem;
    }

    .logo {
        margin-left: 60%;
    }

    .navbar-collapse{
        flex-grow: 0;
        margin-right: 5%;
    }
    
    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    
    .imgZoom:hover {
        transform: scale(1.1) ;
    }

    .btn-outline-success {
        --bs-btn-hover-bg: #f22771 ; 
        --bs-btn-color: #f22771;
        --bs-btn-hover-border-color: #f22771;
        --bs-btn-border-color: #FFFFFF;
        color: #FFFFFF;
    }

    .form-control{
        font-size: 0.8rem;
    }

    .form-control:focus{
        border-color: #f2277146;
        outline:0;
        -webkit-box-shadow:none;
        box-shadow:none; 
    }

    .nav-link {
        color:#FFFFFF ;
    }
    
    

    .nav-link:hover{
        color: #f22771;
    }
    

    
    
}

/*PORTADA*/

.tituloPortada {
    margin-top: 6%;
    color: #f22771;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 400 ;
}

@keyframes changeColor {
    0% { color:#f22771 ; }
    50% { color:#f09ab7; }
    100% { color:#000000 }
}

.hover-infinite {
    animation: changeColor 0.5s infinite;
  }

.portada{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
    margin-top: 2%;

}

.destacados {
    font-family: "Roboto";
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    color: #f22771;
}

/*CARDS*/

.productosTitulo {
    font-family: "Roboto";
    font-size: 2rem;
    text-align: center;
    margin: 8% 0% 0% 0%;
    color: #f22771;
}

.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4%;
    margin-left: 2%;
    
}

.flex-child{
    flex:1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 4%;
    margin-left: 4%;
    text-align: center;
    font-family: arial;

}

.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}


/*CARRITO*/

.carrito {
    border-color: #000000; 
    margin: -91% 2% 0% 83%;  
    border-radius: 5%;
    position:fixed ;
}

.imgCarrito {
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;

}

.nombre {
    font-family: "Roboto";
    font-size: 1rem;
    margin-left: 35%;
    margin-top: -32% ;
}

.titCarrito {
    background-color: #000000;
    border-radius: 2%;
    color: #FFFFFF;
    font-family: "Roboto";
    padding: 5% 0% 5% 40% ;
}

.infoCarrito {
    display: inline;
}

.signoMinus {
    width: 8%;
    margin-left: 35%;
    margin-top: 3%;
   
}

.signoMinus:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.numero {
    font-size: 1.2rem;
    margin-left: 50%;
    margin-top: -8%;
}

.signoPlus {
    width: 8%;
    margin-left: 60%;
    margin-top: -32.5%;
  
}

.signoPlus:hover { 
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.trash {
    width: 8%;
    margin-left: 85%;
    margin-top: -64%;
}

.trash:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

.precio {
    font-family: "Roboto";
    margin-left: 80%;
    margin-top: -13%;
}

.total {
    margin-left: 6%;
}

.precioTotal {
    margin-left: 80%;
    margin-top: -11%;
}

.pagar {
    background-color: #000000;
    color: #FFFFFF;
    padding: 2% 5% 2% 45%;
    border-radius: 2%;
}


/*FORMULARIO DE ENVIOS*/

.formtitulo {
    font-family: "Roboto";
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
}

.form {
    text-align: center;
    margin-top: 3%;
}

.input {
    margin-bottom: 1%;
    
}

/*GRACIAS*/

.message {
    text-align: center;
    margin-top: 3%;
    font-family: "Roboto";

}

.tituloG {
    margin-bottom: 3%;
    color: #f22771;
    font-size: 2rem;
}

.subtituloG {
    margin-bottom: 3%;
    color: #f22771;
    font-size: 1.5rem;
}

.mensajeG {
    font-size: 1.5rem;
}

.buton {
    margin-top: 3%;
}

/*FOOTER*/

.tamI {
    align-items: center;
    width: 58%;
    padding-top: 40%;
    margin-top: 10%;
}
 
.footer {
    padding: 10px 0;
    background-color: #000000;
    margin: 2% 0% 0% 0%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.textoFooter {
    color: #FFFFFF;
    text-align: center;
}
  
.footer .social {
    text-align: center;
    justify-content: end;
    padding-bottom: 25px;
    margin-left: 1%;
}
  
.footer .social a {
    font-size: 24px;
    border: 1px solidcolor #FFFFFF;
    width: 40px;
    height: 40px;
    display: inline-block;
}
  
.footer .social a:hover {
    opacity: 0.5;
}
  
.footer .copyright {
    font-family: "Roboto";
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
